import {api} from '../../Environment/environment';
import authService from '../authentication/AuthService'

import axios from 'axios';

let base_{{entity.name|lowercase}}Service = {
    create: (entity) => {
        let url = `${api}{{entity.name|lowercase}}`;
        return authService.post(url, entity);
    },
    update: (entity) => {
        let url = `${api}{{entity.name|lowercase}}`;
        return authService.put(url, entity);
    },
    delete: (id) => {
        let url = `${api}{{entity.name|lowercase}}/${id}`;
        return authService.delete(url);
    },
    findById: (id) => {
        let url = `${api}{{entity.name|lowercase}}/${id}`;
        return authService.get(url);
    },
    getAll: () => {
        let url = `${api}{{entity.name|lowercase}}`;
        return authService.get(url);
    }, 
    exists: (id) => {
        let url = `${api}{{entity.name|lowercase}}/exists/${id}`;
        return authService.get(url);
    }, 
    count: () => {
        let url = `${api}{{entity.name|lowercase}}/count`;
        return authService.get(url);
    }
};

export default base_{{entity.name|lowercase}}Service;
