#spacer {
    height:20px;
}

.f-right {
    float: right;
}


.small-font {
    font-size: 0.65em !important;
}

table * {
    font-size: 1em;
}

.w-83 {
    width: 83.3333% !important;
}

.w-fit-content {    
    transform: translate(-12px, 0px) !important;
}

pre {
    border: 0 !important;
}

.reqresponse {
    transition: all 1s;
}

.pre-scrollable {
    max-height: 500px;
}