import axios from 'axios';

let authService = {
    get: (url) => {
        return axios.get(url);
    },
    post: (url, entity) => {
        return axios.post(url, entity);
    },
    put: (url, entity) => {
        return axios.put(url, entity);
    },
    delete: (url) => {
        return axios.delete(url);
    }
};

export default authService;
